{% extends 'bases/otherBase.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}

    
    <div class="wrapper">

  
            <div class="profile-card js-profile-card">
              <div style="margin-top: 100px">
              </div>
          
              <div class="profile-card__cnt js-profile-cnt">
                <div class="profile-card__txt"> <h2 class="text-dark title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2><hr>
                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                </div> 
                {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}   
                
              </div>
                
            </div>
          
          </div>
{% endblock %}
