{% extends 'bases/dashBase.html' %}

{% block content %}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Category name :{{cat.nom}}</h2>
                        <a href="{% url 'editArticleDash' %}" class="au-btn au-btn-icon au-btn--blue">
                        <i class="zmdi zmdi-plus"></i>add Articles</a>
                    </div>
                </div>
            </div>
                        
            <div class="row mt-4">
                {% for myArt in allArticle %}
                <div class="col-lg-6">
                    <div class="card">
                                    
                        <img class="card-img-top" src="{{myArt.image.url}}" alt="Card image cap">
                        <div class="account-wrap">

                            <div class="account-item clearfix js-item-menu">
                                <div class="content">
                                    <a class="js-acc-btn" href="#">more</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                                
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="{% url 'dashSingleArticle' myArt.pk %}">
                                                <i class="zmdi zmdi-account"></i>read</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Modif</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="{% url 'moreInfo' myArt.id %}">
                                                <i class="zmdi zmdi-settings"></i>More Info</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-money-box"></i>Delect</a>
                                        </div>
                                    </div>
                                                
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title mb-3">{{ myArt.titre }}</h4>
                            <p class="card-text">
                            {{ myArt.description }}
                            </p>

                        </div>
                        
                    </div>
                </div>
                {% endfor %}
                
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}