{% extends 'bases/mdbase.html' %}

{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
            <div class="title_left">
                <h3>Ajouter un Article</h3>
            </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                <div class="x_title">
                    <h2>Form Article  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>La publication de cette article devra attendre la validation de l'admin
                    </p>
                    <span class="section">Veuillez remplir les differents champs</span>

                    

                    <!-- Default form contact -->
        <div class="text-center border border-light p-5" action="#!">
            <div>
                {{ message}}
            </div>
            

            <h1 class=" mb-4">Ecrire un article</h1>
        <form method="POST" action="{% url 'form_article_dash' %}" enctype='multipart/form-data'>
            {% csrf_token %}
            <!-- Name -->
            <input type="text" id="defaultContactFormName" name="titre" class="form-control mb-4" placeholder="Titre" aria-required="true" >

            <label>Username</label>
            <select name="username" class="browser-default custom-select mb-4">
                <option value="" selected>Choose option</option>
                {% for pro in prof %}
                    <option value="{{pro.id}}" >{{pro.user}}</option>
                {% endfor %}
            </select>

            <label>Categorie</label>
            <select name="categorie" class="browser-default custom-select mb-4">
                <option value="" selected>Choose option</option>
                {% for cat in catego %}
                <option value="{{ cat.id }}">{{ cat.nom }}</option>
                {% endfor %}
            </select>


            <label>Image</label>
            <input name="image" type="file"  class="form-control mb-4" placeholder="Image Article">
            <!-- Email -->
            

            <!-- Subject -->
            <div class="form-group">
                <label>Description</label>
                <textarea name="description" class="form-control rounded-0" rows="3" placeholder="Description..." ></textarea>
            </div>

            <!-- Message -->
            <div class="form-group">
                <label>Contenu de l'article</label>
                <textarea name="content" class="form-control rounded-0"  id="exampleFormControlTextarea2" rows="3" placeholder="Message..." ></textarea>
            </div>

            <!-- Copy -->

            <!-- Send button -->
            <br>
            <button class="btn btn-info btn-block" type="submit">Send</button>

        </div>

        </form>
            
<!-- Default form contact -->


                    

                    

                    
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
    {% endblock content %}