{% extends 'bases/otherBase.html' %}

{% block content %}



	<div class="main-bg">
		<!-- title -->
		<h1></h1>
		<!-- //title -->
		<!-- content -->
		<div class="sub-main-w3">
			<div class="bg-content-w3pvt">
				<div class="top-content-style">
					<img src="img/user.jpg" alt="" />
				</div>
				<form action="#" method="post">
					<p class="legend">Login Here<span class="fa fa-hand-o-down"></span></p>
					<div class="input">
						<input type="email" placeholder="Email" name="email" required />
						<span class="fa fa-envelope"></span>
					</div>
					<div class="input">
						<input type="password" placeholder="Password" name="password" required />
						<span class="fa fa-unlock"></span>
					</div>
					<button type="submit" class="btn submit">
						<span class="fa fa-sign-in"></span>
					</button>
				</form>
                <a href="#" class="bottom-text-w3ls">Forgot Password?</a>
                <div class="social">
                    <ul>
                        <li style="color: black">Ou connectez-vous avec</li><br><br>
                        <li><a title="Facebook" href="/accounts/facebook/login/?process=login" class="facebook"><span class="fa fa-facebook"></span></a></li>
                        <li><a title="Github" href="/accounts/github/login/?process=login" class="github"><span class="fa fa-github"></span></a></li>
                        <li><a title="Google" href="/accounts/google/login/?process=login" class="google"><span class="fa fa-google"></span></a></li>
                        <li><a title="Discord" href="/accounts/discord/login/?process=login" class="discord"><span class="fa fa-cc-discover"></span></a></li>
                        <li><a title="LinkedIn" href="/accounts/linkedin_oauth2/login/?process=login" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
                <br>
            </div>
            
		</div>

		{% endblock content %}