{% extends 'bases/dashBase.html' %}

{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
            <div class="title_left">
                <h3>Modifier le Profile</h3>
            </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                <div class="x_title">
                    <h2>Form Profil </h2>
                    <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">


                    <!-- Smart Wizard -->
                    <p>Modification de votre compte .</p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                        <li>
                        <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                            Step 1<br />
                                            <small>Step 1 description</small>
                                        </span>
                        </a>
                        </li>
                        <li>
                        <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                            Step 2<br />
                                            <small>Step 2 description</small>
                                        </span>
                        </a>
                        </li>
                        <li>
                        <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                            Step 3<br />
                                            <small>Step 3 password</small>
                                        </span>
                        </a>
                        </li>
                        <li>
                        <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                            Step 4<br />
                                            <small>Step 4 compte</small>
                                        </span>
                        </a>
                        </li>
                    </ul>
                    <div id="step-1">
                        <form class="form-horizontal form-label-left">

                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">First Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="first-name" required="required" class="form-control  ">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Last Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                            <input type="text" id="last-name" name="last-name" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Fonction</label>
                            <div class="col-md-6 col-sm-6 ">
                            <input id="middle-name" class="form-control col" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
                            <div class="col-md-6 col-sm-6 ">
                            <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                <input type="radio" name="gender" value="male" class="join-btn"> &nbsp; Male &nbsp;
                                </label>
                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                <input type="radio" name="gender" value="female" class="join-btn"> Female
                                </label>
                            </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">Date Of Birth <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                            <input id="birthday" class="date-picker form-control" required="required" type="text">
                            </div>
                        </div>

                        </form>

                    </div>
                    <div id="step-2">
                        <form class="form-horizontal form-label-left">

                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Description <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                            <textarea id="textarea" required="required" name="textarea" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Image <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                            <input type="file" id="image" name="image" required="required" class="form-control ">
                            </div>
                        </div>

                        </form>
                    </div>

                    <div id="step-3">
                        <form class="form-horizontal form-label-left">

                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="password">Password<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                            <input type="password" id="password" required="required" class="form-control  ">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="newPassword">New Password <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                            <input type="password" id="newPassword" name="newPassword" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Cpassword" class="col-form-label col-md-3 col-sm-3 label-align">Confirm Password</label>
                            <div class="col-md-6 col-sm-6 ">
                            <input id="Cpassword" class="form-control col" type="password" name="Cpassword">
                            </div>
                        </div>
                          

                        </form>
                    </div>

                    <div id="step-4">
                         
                        <form class="form-horizontal form-label-left">

                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Membre <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                            <input type="checbox" disabled="disabled" checked="checked"  id="first-name" required="required" placeholder="Vous êtes Membre" class="form-control  ">
                            </div>
                        </div>
                          

                        </form>
                    </div>

                    </div>
                    <!-- End SmartWizard Content -->
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        {% endblock content %}