{% extends 'bases/mdbase.html' %}

{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
            <div class="title_left">
                <h3>Arrticle Details </h3>
            </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
            <div class="col-md-8">
                <div class="x_panel">
                <div class="x_title">
                    <h2>{{art.categorie.nom}}</h2>
                    
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="col-md-12 col-sm-12 col-xs-12">

                    <ul class="stats-overview">
                        <li style="    width: 24% !important;">
                        <span style="font-size: 26px;"> <i class="fa fa-comments-o"></i> </span>
                        <span class="value text-success">{{comment.count}} </span>
                        </li>
                        <li style="    width: 24% !important;">
                        <span style="font-size: 26px;"> <i class="fa fa-eye"></i> </span>
                        <span class="value text-success">2300 </span>
                        </li>
                        <li style="    width: 24% !important;">
                        <span style="font-size: 26px;"> <i class="fa fa-heart"></i> </span>
                        <span class="value text-success">2300 </span>
                        </li>
                        <li style="    width: 24% !important;">
                        <span style="font-size: 26px;"> <i class="glyphicon glyphicon-ban-circle"></i> </span>
                        <span class="value text-success">2300 </span>
                        </li>
                    </ul>
                    <br />

                    <!-- <div id="mainb" style="height:350px;"></div> -->
                    <div class="row">
                        <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                            <h2>Description :</h2><br><br>
                            <p><small>{{art.description}}</small></p>
                              
                            <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
          
                            <div class="col-md-8 col-lg-8 col-sm-7">
                                <!-- blockquote -->
                               
                                <p>{{art.content|safe}}</p>
                                  
                            </div>
                              
          
                             
          
                              
                            </div>
                        </div>
                        </div>
                    </div>

                    <div>
                    </div>
                    </div>

                </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h2>Artcile</h2>
                    <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Modifier </a>
                            <a class="dropdown-item" href="#">Suprimer </a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="panel-body" >
                    <h3 class="green">{{art.titre}}</h3>

                    <div class="project_detail">

                        <img src="{{art.image.url}}" alt="Avatar" style="width: 100%">
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h2>Commentaire du post</h2>
                    
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- end of user messages -->
                    <ul class="messages">
                    {% for comments in comment  %}
                    <li>
                        <img src="{{comments.photo.url}}" class="avatar" alt="Avatar">
                        <div class="message_date">
                        <h3 class="date text-info">21</h3>
                        <p class="month">{{comments.date}}</p>
                        </div>
                        <div class="message_wrapper">
                        <h4 class="heading">{{comments.nom}}</h4>
                        <blockquote class="message">{{comments.message}}</blockquote>
                        <br />
                        <p class="url">
                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                            <a href="#"><i class="fa fa-paperclip"></i> {{comments.sujet}} </a>
                        </p>
                        </div>
                    </li>
                    {% endfor %}
                    </ul>
                    <!-- end of user messages -->
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        {% endblock content %}