{% extends 'bases/dashBase.html' %}

{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
            <div class="title_left">
                <h3>Tous mes commentaires et likes </h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
                </div>
            </div>
            </div>

            <div class="clearfix"></div>

            <div class="row" style="display: block;">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h2>Table design <small>Custom design</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="form_article.html">Ajouter </a>
                            <a class="dropdown-item" href="form_article.html">Modifier </a>
                            <a class="dropdown-item" href="form_article.html">Suprimer </a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>

                    <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings">
                            <th>
                            <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">Category Article </th>
                            <th class="column-title">Title Article </th>
                            <th class="column-title">Commentaire</th>
                            <th class="column-title">Likes </th>
                            <th class="column-title">Date </th>
                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        
                        {% for item in article %}
                        
                        {% if forloop.counter|divisibleby:2 %}
                        <tr class="even pointer">
                                <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">{{ item.categorie.nom }}</td>
                                <td class="a-right a-right ">{{ item.titre }}</td>
                                <td class=" ">{{ item.description }}</td>
                                <td class=" ">Like</td>
                                <td class=" ">{{ item.date_add }} </td>
                                <td class=" last"><a href="{% url 'detail_visiteur_dash' item.id %}">View</a>
                                </td>
                            </tr>
                        {% else %}
                        <tr class="odd pointer">
                                <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">{{ item.categorie.nom }}</td>
                                <td class="a-right a-right ">{{ item.titre }}</td>
                                <td class=" ">{{ item.description }}</td>
                                <td class=" ">No Like</td>
                                <td class=" ">{{ item.date_add }}</td>
                                <td class=" last"><a href="{% url 'detail_visiteur_dash' item.id %}">View</a>
                                </td>
                         </tr>
                        {% endif %}
                            
                        
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
							
						
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->

{% endblock content %}