{% extends 'bases/dashBase.html' %}

{% block content %}
<div id=''>
<div class="main-content">
    <div  v-if="thereIsArticles" class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap" >
                        <h2 class="title-1">overview </h2>
                        <a href="" class="au-btn au-btn-icon au-btn--blue">
                            <i class="zmdi zmdi-plus"></i>Devenir Membre</a>
                    </div>
                </div>
            </div>
                        
            <div class="row mt-4">
            
                <div class="col-lg-6">
                        <div class="card">
                                <img class="card-img-top" :src="base_url_image + lastArticleLike.node.image " alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title mb-3">${lastArticleLike.node.titre}</h4>
                                    <p class="card-text">
                                        ${lastArticleLike.node.description}
                                    
                                    </p>
                                    <!-- <input id="idArt" type="hidden" v-model='idArticle' value="{{myArt.id}}">
                                    <input id="idUser" type="hidden" v-model='idArticle' value="{{user.id}}"> -->
        
                                </div>
                                <div class="card-footer">
                                        <div class="table-data-feature">
                                                <a  :href=``+`${base_url}`+`/dashSingleArticle/`+`${lastArticleLike.node.id}`+`` class="item" data-toggle="tooltip" data-placement="top" title="show">
                                                    <i class="zmdi zmdi-mail-send"></i>
                                                </a>
                                                <a class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <a class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                                <a :href=``+`${base_url}`+`/moreInfo/`+`${lastArticleLike.node.id}`+`` class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                    <i class="zmdi zmdi-more"></i>
                                                </a>
                                            </div>
                                </div>
                                
                            </div>
                </div>
                <!--End Articles-->
                <div class="col-lg-6">
                    <div class="au-card chart-percent-card">
                        <div class="au-card-inner">
                        <div class='row'>
                            <h3 class="col-sm title-2 tm-b-5">char by %</h3>
                            <div class="col-sm">
                                <div class="row">
                                    <h3 class="title-2 tm-b-5 col-sm">Status:</h3>
                                    <label class="switch switch-text switch-primary switch-pill col-sm">
                                    <input type="checkbox" v-model='articleActive' class="switch-input" checked="true" v-on:change='testFunction'>
                                    <span data-on="On" data-off="Off" class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        {% for myArt in allArticle %}
                            <div class="row no-gutters">
                                <div class="col-xl-6">
                                    <div class="chart-note-wrap">
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--blue"></span>
                                            <span>{{myArt.article_like.all|length }}</a> like </span>
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--red"></span>
                                            <span>{{myArt.article_like.all|length }}</a> Dislike</span>
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                            <a href="#">
                                                <i class="fa fa-eye"></i> views
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                            <a href="#comments">
                                            <i class="zmdi zmdi-comment-text"></i> {{myArt.article_commentaire.all|length }} comment
                                            </a>
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                                        
                                            <i class="fas fa-calendar-alt"></i> {{myArt.date_add}}
                                                        
                                        </div>
                                                    
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="percent-chart">
                                        <canvas id="percent-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!--End Chrat -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <div class="au-card  au-card--no-pad m-b-40" id='comments'>
                        <!--Header section -->
                            <div class="au-card-title" style="background-image:url('/static/Dash/images/bg-title-02.jpg');">
                                <div class="bg-overlay bg-overlay--blue"></div>
                                <h3>
                                    <i class="zmdi zmdi-comment-text"></i>Comment articles </h3>
                                <button class="au-btn-plus au-message__item ">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                            </div>
                        <!--End Header section -->
                                        
                            <div class="au-inbox-wrap js-inbox-wrap">
                                <div class="au-message js-list-load">
                                <!--Notif section -->
                                    <div class="au-message__noti">
                                        <p>You Have
                                            <span>2</span>
                                            new messages
                                        </p>
                                    </div>
                                    <!--End Notif section -->
                                    <!--Liste Messages section -->
                                    <div class="au-message-list">
                                            <comment_user
                                            v-for="user in listeComment"
                                            v-bind:item="user"
                                            v-bind:key="user.id"
                                            ></comment_user>            
                                    </div>
                                    <!--End Liste Messages section -->
                                    <!--Load More Btn section -->
                                    <div class="au-message__footer">
                                            <button class="btn btn-outline-success au-message__item ">Add comment</button>
                                    </div>
                                    <!--End load More -->

                                </div>
                                <!--CHAT SECTION  -->
                                <div class="">
                                    <div class="au-chat__title">
                                        <div class="au-message__item p-2 btn btn-success m-4">
                                            <i class="fa fa-mail-reply-all"> go back</i>
                                        </div>
                                        <div class="au-chat-info">
                                            <div class="avatar-wrap online">
                                                <div class="avatar avatar--small">
                                                    <img src="/static/Dash/images/icon/avatar-02.jpg" alt="John Smith">
                                                </div>
                                            </div>
                                            <span class="nick">
                                                <a href="#">John Smith</a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- -->
                                    <div class="au-chat__content">
                                   
                                    <div class="send-mess-wrap">
                                            <span class="mess-time">30 Sec ago</span>
                                            <div class="send-mess__inner">
                                                <div class="send-mess-list">
                                                    <div class="send-mess">${myCom}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="au-chat-textfield">
                                        <div class="au-form-icon">
                                            <form action="" method="post" novalidate="novalidate">
                                                <!-- <textarea v-model="myCom" class="md-textarea form-control" > -->
                                                    {{myFrom.contenu}}
                                                <!-- </textarea> -->
                                               
                                                <input type='sudmit' class="btn btn-success" value="Send connent">
                                                <button v-on:click='sendComment' class="btn btn-success">
                                                    send yor comment <i class="zmdi zmdi-mail-send "></i>
                                                </button>
                                            </form>
                                            <!--
                                            <textarea id="story" name="story" v-model="myCom"  class="au-input au-input--full au-input--h6" rows="5" cols="33">
                                            </textarea>-->
                                           
                                        </div>
                                    </div>
                                </div>
                                <!--End CHAT SECTION -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SI L'UTILISATEUR N'A PAS D'ARTICLE  -->
    <div  v-if="emptyArticles" class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 p-5">
                        <div class="overview-wrap" >
                            
                            <a href="" class="au-btn au-btn-icon au-btn--blue">
                                <i class="zmdi zmdi-plus"></i>Devenir Membre </a>
                        </div>
                    </div>
                </div>
                                
                <div class="row m-auto">
                        <h2 class="title-1 text-center">Desole vous n'avez acunarticle sur votre compte ;-( </h2>
                </div>
            </div>
    </div>
    <!-- FIN DE LA PAGE AMPTY ARTICLE  -->

    
</div>
</div>
<script>
   
</script>
{% endblock content %}