{% extends 'bases/otherBase.html' %}
{% load i18n %}

{% block content %}
<div class="wrapper">

  
        <div class="profile-card js-profile-card alert alert-danger">
          <div style="margin-top: 10px">
          </div>
      
          <div class="profile-card__cnt js-profile-cnt alert alert-danger" style="padding: 5%;">
            <div class="profile-card__txt"> <h2 class="text-dark title">{% trans "Erreur, lien invalide" %}</h2><hr>
            <p>{% blocktrans %}Veillez vérifier dans votre boite de messagerie le lien de confirmation vous à été envoyé.{% endblocktrans %}</p>
            <p>{% blocktrans %}Si l'erreur persiste, merci de nous contacter.{% endblocktrans %}</p>
            <br>
            <a href="{% url 'contact' %}" class="btn btn-warning " style="font-weight: bold;">Nous conntacter</a>
            </div>    
            
          </div>
            
        </div>
      
      </div>
      
   

{% endblock %}
