{% extends 'bases/otherBase.html' %}

{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

{% block content %}


{% get_providers as socialaccount_providers %}

  <!-- start banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Se connecter
                </h1>
                <p class="text-white link-nav"><a href="{% url 'index' %}">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="contact.html">
                       Login</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
	<div class="main-bg" >
		<!-- title -->
		<h1></h1>
		<!-- //title -->
		<!-- content -->
		<div class="sub-main-w3">
			<div class="bg-content-w3pvt">
				<div class="top-content-style">
					<img src="/static/img/user.png" alt="" />
				</div>
				<form action="#" method="post">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
            </div>
            {% endif %}    
          <p class="legend">Connexion<span class="fa fa-hand-o-down"></span></p>

          {% if redirect_field_value %}
					<div class="input">
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
						  <span class="fa fa-user-o"></span>
          </div> 
          {% endif %}
          <div class="input">
              <input id="{{ form.login.id_for_label }}" name="{{ form.login.name }}" type="text" class="{% if form.login.errors %}is-invalid{% endif %}"  placeholder="Nom d'utilisateur" required="" value="{{ form.login.value|default:'' }}" />
              <span class="fa fa-envelope"></span>
            </div>
					<div class="input">
              <input id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" type="password" class=" {% if form.password.errors %}is-invalid{% endif %}"  placeholder="xxxxxxxxxxx" required="" value="{{ form.password.value|default:'' }}" />
              <span class="fa fa-unlock"></span>
					</div>
					<button type="submit" class="btn submit">
						<span class="fa fa-sign-in"></span>
					</button>
				</form>
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <p>If you have not created an account yet, then please
                <a href="{% url 'inscription' %}">sign up</a> first.</p>
                <div class="social">
                    <ul>
                        <li style="color: black">Ou connectez-vous avec</li><br><br>
                        <li><a title="Facebook" href="/accounts/facebook/login/?process=login" class="facebook"><span class="fa fa-facebook"></span></a></li>
                        <li><a title="Github" href="/accounts/github/login/?process=login" class="github"><span class="fa fa-github"></span></a></li>
                        <li><a title="Google" href="/accounts/google/login/?process=login" class="google"><span class="fa fa-google"></span></a></li>
                        <li><a title="Discord" href="/accounts/discord/login/?process=login" class="discord"><span class="fa fa-cc-discover"></span></a></li>
                        <li><a title="LinkedIn" href="/accounts/linkedin_oauth2/login/?process=login" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
                <br>
            </div>
            
		</div>

		{% endblock %}