{% extends 'bases/otherBase.html' %}
{% load i18n %}

{% block content %}

<div class="wrapper">

  
    <div class="profile-card js-profile-card">
      <div style="margin-top: 100px">
      </div>
  
      <div class="profile-card__cnt js-profile-cnt">
        <div class="profile-card__txt"> <h2 class="text-dark title">{% trans "Sign Out" %}</h2><hr>
          <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>    
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
          </form>
        
      </div>
        
    </div>
  
  </div>

{% endblock %}
