{% extends 'bases/otherBase.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

    <div class="wrapper">

  
            <div class="profile-card js-profile-card">
              <div style="margin-top: 100px">
              </div>
          
              <div class="profile-card__cnt js-profile-cnt">
                <div class="profile-card__txt"> <h2 class="text-dark title">{% trans "Set Password" %}</h2><hr>
                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-warning" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                        </form>               
                     </div>    
                
              </div>
                
            </div>
          
          </div>
          
{% endblock %}
