{% extends 'bases/otherBase.html' %}
{% load i18n %}

{% block content %}
    <div class="wrapper">

  
            <div class="profile-card js-profile-card">
              <div style="margin-top: 100px">
              </div>
          
              <div class="profile-card__cnt js-profile-cnt">
                <div class="profile-card__txt"> <h2 class="text-dark title">{% trans "Change Password" %}</h2><hr>
                <p>{% trans 'Your password is now changed.' %}</p>
                </div>    
                
              </div>
                
            </div>
          
          </div>
{% endblock %}
