{% extends 'bases/otherBase.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}

    
    <div class="wrapper">

  
            <div class="profile-card js-profile-card">
              <div style="margin-top: 100px">
              </div>
          
              <div class="profile-card__cnt js-profile-cnt">
                <div class="profile-card__txt"> <h2 class="text-dark title">{% trans "Change Password" %}</h2><hr>
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-info" type="submit" name="action">{% trans "Change Password" %}</button>
                        </form>                </div>    
                
              </div>
                
            </div>
          
          </div>
{% endblock %}
