{% extends 'bases/otherBase.html' %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="wrapper">

  
        <div class="profile-card js-profile-card">
          <div style="margin-top: 100px">
          </div>
      
          <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__txt"> <h2 class="text-dark title">{% trans "Sign Up Closed" %}</h2><hr>
                <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
            </div>    
            
          </div>
            
        </div>
      
      </div>

{% endblock %}
