{% extends 'bases/otherBase.html' %}

{% load i18n %}

{% load widget_tweaks %}

{% block content %}


<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Contact Us
                </h1>
                <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="contact.html">
                        Contact Us</a></p>
            </div>
        </div>
    </div>
</section>
<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form"  id="signup_form" method="post" action="{% url 'account_signup' %}" >
					{% csrf_token %}
					{{ form.as_p }}
					{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					{% endif %}
					<button type="submit">{% trans "Sign Up" %} &raquo;</button>
			</form>
		</div>
	</div>  

{% endblock content %}
