{% extends 'bases/otherBase.html' %} {% load i18n %} 


{% block link %}

<!--===============================================================================================-->
<link
  rel="stylesheet"
  type="text/css"
  href="/static/login/vendor/select2/select2.min.css"
/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/login/css/main.css" />
{% endblock link %} {% block content %}

<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          S'inscrire
        </h1>
        <p class="text-white link-nav">
          <a href="{% url 'index' %}">Home </a>
          <span class="lnr lnr-arrow-right"></span>
          <a href="contact.html"> signup</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- <div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" id="signup_form" method="post"  enctype="multipart/form-data">
                <span class="contact100-form-title">
                    Créer un compte
                </span>
                <p>Détails sur le type de compte</p><br>
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                    {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                    {{ form.username|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                    {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                    {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0" >
                    {{ form.description|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                    {{ form.groups|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0" >
                    {{ form.image|as_crispy_field }}
                    </div>
                </div>
               <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                    {{ form.password1|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                    {{ form.password2|as_crispy_field }}
                    </div>
                </div>
                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button type="submit" class="contact100-form-btn">
                            <span>
                                Submit
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <p>{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ login_url }}" style="color:orange;">sign in</a> first.{% endblocktrans %}</p>
                </div>
        </form>
        <br>
        <div class="social text-center">
            <ul>
                <li style="color: black">Ou Inscrivez-vous avec:</li><br><br>
                <li><a title="Facebook" href="/accounts/facebook/login/?process=login" class="facebook"><span class="fa fa-facebook"></span></a></li>
                <li><a title="Github" href="/accounts/github/login/?process=login" class="github"><span class="fa fa-github"></span></a></li>
                <li><a title="Google" href="/accounts/google/login/?process=login" class="google"><span class="fa fa-google"></span></a></li>
                <li><a title="Discord" href="/accounts/discord/login/?process=login" class="discord"><span class="fa fa-cc-discover"></span></a></li>
                <li><a title="LinkedIn" href="/accounts/linkedin_oauth2/login/?process=login" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
            </ul>
        </div>
    </div>
</div> -->

<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <span class="contact100-form-title">
        S'inscrire
      </span>
      <div class="form-row">
        <div
          class=" col-md-5  col-lg-5 wrap-input100 validate-input"
          data-validate="Name is required"
        >
          <span class="label-input100">Your Name</span>
          <input
            class="input100"
            type="text"
            name="name"
            placeholder="Enter your name"
          />
          <span class="focus-input100"></span>
        </div>
        <div class=" col-md-1 col-lg-1"></div>
        <div
          class=" col-md-6  col-lg-6 wrap-input100 validate-input"
          data-validate="Valid email is required: ex@abc.xyz"
        >
          <span class="label-input100">Email</span>
          <input
            class="input100"
            type="text"
            name="email"
            placeholder="Enter your email addess"
          />
          <span class="focus-input100"></span>
        </div>
      </div>
      <div class="form-row">
        <div
          class=" col-md-5  col-lg-5 wrap-input100 validate-input"
          data-validate="Name is required"
        >
          <span class="label-input100">Nom</span>
          <input
            class="input100"
            type="text"
            name="name"
            placeholder="Enter your name"
          />
          <span class="focus-input100"></span>
        </div>
        <div class=" col-md-1 col-lg-1"></div>
        <div
          class=" col-md-6  col-lg-6 wrap-input100 validate-input"
          data-validate="Valid email is required: ex@abc.xyz"
        >
          <span class="label-input100">Prénoms</span>
          <input
            class="input100"
            type="text"
            name="email"
            placeholder="Enter your email addess"
          />
          <span class="focus-input100"></span>
        </div>
      </div>
      <div class="form-row">
        <div class=" col-md-5  col-lg-5 wrap-input100 input100-select">
          <span class="label-input100">Type de compte</span>
          <div>
            <select class="selection-2" name="service">
              <option>Membre</option>
              <option>Visiteur</option>
            </select>
          </div>
          <span class="focus-input100"></span>
        </div>
        <div class=" col-md-1 col-lg-1"></div>
        <div class=" col-md-6  col-lg-6 wrap-input100 validate-input">
          <span class="label-input100">Profile</span>
          <input class="input100" type="file" />
        </div>
      </div>
      
        <div class="wrap-input100 validate-input" data-validate="Message is required">
            <span class="label-input100">Dédtails sur les comptes</span>
            <p> Compte Visiteur : </p>
            <p> Compte Membre : </p>
            <span class="focus-input100"></span>
        </div>
      <div  class="wrap-input100 validate-input" data-validate="Message is required">
        <span class="label-input100">Bio</span>
        <textarea  class="input100"  v-model="bio"    placeholder="Your message here..." ></textarea>
        <span class="focus-input100"></span>
      </div>

      <div class="form-row">
        <div   class=" col-md-5  col-lg-5 wrap-input100 validate-input"   data-validate="Name is required"  >
          <span class="label-input100">password</span>
          <input   class="input100"  type="text" name="name"    placeholder="Enter your name" />
          <span class="focus-input100"></span>
        </div>
        <div class=" col-md-1 col-lg-1"></div>
        <div    class=" col-md-6  col-lg-6 wrap-input100 validate-input"    data-validate="Valid email is required: ex@abc.xyz" >
          <span class="label-input100">confirm password</span>
          <input  class="input100"   type="text"    name="email"     placeholder="Enter your email addess" />
          <span class="focus-input100"></span>
        </div>
      </div>

      <div class="container-contact100-form-btn">
        <div class="wrap-contact100-form-btn">
          <div class="contact100-form-bgbtn"></div>
          <button class="contact100-form-btn">
            <span>
              Submit
              <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="dropDownSelect1"></div>
{% endblock content %} {% block scripts %}
<script src="/static/login/vendor/select2/select2.min.js"></script>
<script>
  $(".selection-2").select2({
    minimumResultsForSearch: 20,
    dropdownParent: $("#dropDownSelect1")
  });
</script>
<!--===============================================================================================-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-23581568-13");
</script>
{% endblock scripts %}
