{% extends 'bases/dashBase.html' %}

{% block content %}
<div id='app'>
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">overview ${patrick}</h2>
                        <a href="{% url 'editArticleDash' %}" class="au-btn au-btn-icon au-btn--blue">
                            <i class="zmdi zmdi-plus"></i>add Articles</a>
                    </div>
                </div>
            </div>
                        
            <div class="row mt-4">
            
                <div class="col-lg-6">
                    <div class="card">
                                    
                        <img class="card-img-top" src="{{allArticle.image.url}}" alt="Card image cap">
                        <div class="account-wrap">

                            <div class="account-item clearfix js-item-menu">
                                <div class="content">
                                    <a class="js-acc-btn" href="#">more</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                                
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="{% url 'dashSingleArticle' allArticle.pk %}">
                                                <i class="zmdi zmdi-account"></i>read</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="{% url 'editArticleDash' %}">
                                                <i class="zmdi zmdi-settings"></i>Modif</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="{% url 'moreInfo' allArticle.id %}">
                                                <i class="zmdi zmdi-settings"></i>More Info</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-money-box"></i>Delect</a>
                                        </div>
                                    </div>
                                                
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title mb-3">{{ allArticle.titre }}</h4>
                            <p class="card-text">
                            {{ allArticle.description }}
                            </p>
                            <input id="idArt" type="hidden" v-model='idArticle' value="{{allArticle.id}}">
                            <input id="idUser" type="hidden" v-model='idArticle' value="{{user.id}}">

                        </div>
                        
                    </div>
                </div>
                <!--End Articles-->
                <div class="col-lg-6">
                    <div class="au-card chart-percent-card">
                        <div class="au-card-inner">
                        <div class='row'>
                            <h3 class="col-sm title-2 tm-b-5">char by %</h3>
                            <div class="col-sm">
                                <div class="row">
                                    <h3 class="title-2 tm-b-5 col-sm">Status:</h3>
                                    <label class="switch switch-text switch-primary switch-pill col-sm">
                                    <input type="checkbox" v-model='articleActive' class="switch-input" checked="true" v-on:change='testFunction'>
                                    <span data-on="On" data-off="Off" class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                            <div class="row no-gutters">
                                <div class="col-xl-6">
                                    <div class="chart-note-wrap">
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--blue"></span>
                                            <span>{{allArticle.article_like.all|length }}</a> like </span>
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--red"></span>
                                            <span>{{allArticle.article_like.all|length }}</a> Dislike</span>
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                            <a href="#">
                                                <i class="fa fa-eye"></i> views
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                            <a href="#comments">
                                            <i class="zmdi zmdi-comment-text"></i> {{allArticle.article_commentaire.all|length }} comment
                                            </a>
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                                        
                                            <i class="fas fa-calendar-alt"></i> {{allArticle.date_add}}
                                                        
                                        </div>
                                                    
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="percent-chart">
                                        <canvas id="percent-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <div class="au-card au-card--no-shadow au-card--no-pad m-b-40" id='comments'>
                        <!--Header section -->
                            <div class="au-card-title" style="background-image:url('images/bg-title-02.jpg');">
                                <div class="bg-overlay bg-overlay--blue"></div>
                                <h3>
                                    <i class="zmdi zmdi-comment-text"></i>New Messages</h3>
                                <button class="au-btn-plus au-message__item ">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                            </div>
                        <!--End Header section -->
                                        
                            <div class="au-inbox-wrap js-inbox-wrap">
                                <div class="au-message js-list-load">
                                <!--Notif section -->
                                    <div class="au-message__noti">
                                        <p>You Have
                                            <span>2</span>
                                            new messages
                                        </p>
                                    </div>
                                    <!--End Notif section -->
                                    <!--Liste Messages section -->
                                    <div class="au-message-list">
                                    {% for comment  in allArticle.article_commentaire.all %}
                                        <div class="au-message__item unread">
                                            <div class="au-message__item-inner">
                                                <div class="au-message__item-text">
                                                    <div class="avatar-wrap">
                                                        <div class="avatar">
                                                            <img src="{{comment.user.image.url}}" alt="John Smith">
                                                        </div>
                                                    </div>
                                                    <div class="text">
                                                        <h5 class="name">{{comment.user}}</h5>
                                                        <p>{{comment.message}}</p>
                                                    </div>
                                                </div>
                                                <div class="au-message__item-time">
                                                    <span>{{comment.date_add}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                                    
                                    </div>
                                    <!--End Liste Messages section -->
                                    <!--Load More Btn section -->
                                    <div class="au-message__footer">
                                        <button class="au-btn au-btn-load js-load-btn">load more</button>
                                    </div>
                                    <!--End load More -->

                                </div>
                                <!--CHAT SECTION  -->
                                <div class="au-chat">
                                    <div class="au-chat__title">
                                        <div class="au-message__item p-2 btn btn-success m-4">
                                            <i class="fa fa-mail-reply-all"> go back</i>
                                        </div>
                                        <div class="au-chat-info">
                                            <div class="avatar-wrap online">
                                                <div class="avatar avatar--small">
                                                    <img src="/static/Dash/images/icon/avatar-02.jpg" alt="John Smith">
                                                </div>
                                            </div>
                                            <span class="nick">
                                                <a href="#">John Smith</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="au-chat__content">
                                      
                                        <!--<div class="send-mess-wrap">
                                            <span class="mess-time">30 Sec ago</span>
                                            <div class="send-mess__inner">
                                                <div class="send-mess-list">
                                                    <div class="send-mess">${myCom}</div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="au-chat-textfield">
                                        <div class="au-form-icon">
                                            <textarea id="story" name="story" v-model="myCom"  class="au-input au-input--full au-input--h6" rows="5" cols="33">
                                            </textarea>
                                            <button v-on:click='sendComment' class="au-input-icon ">
                                                <i class="zmdi zmdi-mail-send btn btn-success"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--End CHAT SECTION -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    let myV=document.getElementById("idArt").value
    let idUser=document.getElementById("idUser").value
</script>
{% endblock content %}